Repository KristiyanEnchev/MovieNet: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-backend.yml, azure-pipelines-frontend.yml

azure-pipelines-backend.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - checkout: github-repo
  - task: UseDotNet@2
    inputs:
      packageType: sdk
      version: 6.x
  - script: dotnet restore Server/MovieNet.sln
    displayName: Restore NuGet Packages
  - script: dotnet build Server/MovieNet.sln --configuration Release
  ...

azure-pipelines-frontend.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - checkout: github-repo
  - task: NodeTool@0
    inputs:
      versionSpec: 18.x
  - script: npm install
    displayName: Install Dependencies
    workingDirectory: Client
  - script: npm run build
    displayName: Build Project
    workingDirectory: Client
  ...

Update Readme
  README.md
  Server/API/Host/Program.cs
Due: azure-pipelines-backend.yml

Update README.md
  README.md
Due: none

Add screenshots
  Client/public/Movie.PNG
  Client/public/Movie2.PNG
  README.md
Due: azure-pipelines-frontend.yml

Update Redis connection and default port settings
  Server/API/Host/Properties/launchSettings.json
  Server/Infrastructure/Infrastructure/Startup.cs
  docker-compose.yaml
Due: azure-pipelines-backend.yml

Add favicon
  Client/public/favicon.ico
  Client/public/index.html
Due: azure-pipelines-frontend.yml

Path conditions:
  azure-pipelines-backend.yml: any of: Server, Server, but not: Client, Client
  azure-pipelines-frontend.yml: any of: Client, Client, but not: Server, Server
